<div style="height: 100vh;">
  <div style="text-align: center;">
    <h2>Page de contact</h2>
  </div>
  <mat-divider></mat-divider>
  <form [formGroup]="formOptions" (ngSubmit)="onSubmit()" [ngStyle]="formStyle" style="background-color: white; margin-top: 3%;">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="text-align: center;">Contactez-nous via ce formulaire</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Email</mat-label>
          <input matInput
                 placeholder="Votre email"
                 [formControl]="emailControl"
                 autocomplete="email"
                 required>
          <mat-error *ngIf="emailControl.invalid">{{handleEmailError()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Message</mat-label>
          <textarea matInput rows="15"
                    placeholder="Votre message"
                    [formControl]="messageControl"
                    autocomplete="message"
                    required>
        </textarea>
          <mat-error *ngIf="messageControl.invalid">{{handleMessageError()}}</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button class="button-primary-color"> Envoyer </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
