<mat-list>
  <mat-list-item routerLink="/accueil" routerLinkActive="link-active">
    <mat-icon mat-list-icon>home</mat-icon>
    <div mat-line> Accueil </div>
  </mat-list-item>
  <mat-list-item routerLink="/articles" routerLinkActive="link-active">
    <mat-icon mat-list-icon>subject</mat-icon>
    <div mat-line> Articles </div>
  </mat-list-item>
  <mat-list-item routerLink="/infos" routerLinkActive="link-active">
    <mat-icon mat-list-icon>info</mat-icon>
    <div mat-line> A propos </div>
  </mat-list-item>
</mat-list>
