<mat-list class="blog-left-menu-content">
  <div id="logo">
    <a mat-button routerLink="/"><h2>Afropreneur <span style="color: orange;">Digital</span></h2></a>
  </div>
  <div mat-subheader class="blog-left-menu-subheader">Le blog</div>
  <mat-list-item routerLink="/articles" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon mat-list-icon>home</mat-icon>
    <div mat-line> Accueil </div>
  </mat-list-item>
  <mat-list-item routerLink="/infos" routerLinkActive="link-active">
    <mat-icon mat-list-icon>info</mat-icon>
    <div mat-line> A propos </div>
  </mat-list-item>
  <div mat-subheader class="blog-left-menu-subheader">Les thématiques </div>
  <mat-list-item [routerLink]="['/articles', 'education']"
                 routerLinkActive="link-active"
                 [routerLinkActiveOptions]="{exact: true}">
    <mat-icon mat-list-icon>school</mat-icon>
    <div mat-line>Education</div>
  </mat-list-item>
  <mat-list-item [routerLink]="['/articles', 'healthcare']"
                 routerLinkActive="link-active"
                 [routerLinkActiveOptions]="{exact: true}">
    <mat-icon mat-list-icon>local_hospital</mat-icon>
    <div mat-line>Santé</div>
  </mat-list-item>
  <mat-list-item [routerLink]="['/articles', 'fintech']"
                 routerLinkActive="link-active"
                 [routerLinkActiveOptions]="{exact: true}">
    <mat-icon mat-list-icon>trending_up</mat-icon>
    <div mat-line>FinTech</div>
  </mat-list-item>
</mat-list>
