.content-articles-list {
  width: 35%;
  margin-bottom: 10px;
}

.content-article-update-form {
  width: 55%;
  float: right;
}

.content-articles-list:hover {
  background-color: antiquewhite;
  cursor: pointer;
}
