<div class="ad-page-content">
  <div style="text-align: center;">
    <h2> Mettre à jour un articles </h2>
  </div>
  <mat-divider></mat-divider>

  <div *ngIf="allArticles.length > 0" style="margin-top: 3%;">
    <mat-card class="content-article-update-form">
      <form [formGroup]="formOptions" (ngSubmit)="onUpdate()" #form>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Titre</mat-label>
          <input matInput
                 [formControl]="titleControl"
                 autocomplete="on"
                 value="{{articleToUpdate.title}}">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Contenu</mat-label>
          <textarea rows="30"
                    matInput
                    [formControl]="contentControl"
                    value="{{articleToUpdate.content}}"
                    autocomplete="on">
          </textarea>
        </mat-form-field>
        <button [disabled]="!(titleChanged || contentChange)"
                type="submit"
                mat-raised-button
                class="button-primary-color">
          Mettre à jour
        </button>
      </form>
    </mat-card>
  </div>

  <div>
    <mat-card class="content-articles-list"
              tabindex="0"
              role="region"
              *ngFor="let article of allArticles" (click)="onSelect(article.id)">
      <mat-card-title>{{article.title}}</mat-card-title>
      <mat-card-content>
        {{article.content | slice: 0 : 80 }} ...
      </mat-card-content>
    </mat-card>
  </div>
</div>
