<mat-drawer-container>
  <mat-drawer class="mobile-devices-left-menu" [opened]="leftMenuOpened" mode="over">
    <ul>
      <li><a mat-button routerLink="/articles" (click)="leftMenuOpened = !leftMenuOpened">Articles</a></li>
      <li><a mat-button routerLink="/infos" (click)="leftMenuOpened = !leftMenuOpened">A propos</a></li>
      <li><a mat-button routerLink="/contact" (click)="leftMenuOpened = !leftMenuOpened">Contact</a></li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <app-header [mobileDeviceMenuOpened]="leftMenuOpened"></app-header>
    <app-main-content></app-main-content>
  </mat-drawer-content>
</mat-drawer-container>
