<mat-drawer-container>
  <mat-drawer class="mobile-devices-left-menu" [opened]="leftMenuOpened" mode="over" (closed)="onMenuClosed()">
    <ul>
      <li><a mat-button routerLink="/articles">ARTICLES</a></li>
      <li><a mat-button routerLink="/infos">A PROPOS</a></li>
      <li><a mat-button routerLink="/infos">CONTACT</a></li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <app-header [mobileDeviceMenuOpened]="leftMenuOpened"></app-header>
    <app-main-content></app-main-content>
  </mat-drawer-content>
</mat-drawer-container>
