<mat-toolbar class="header-styles">
  <mat-toolbar-row class="header-content-alignment" *ngIf="!smallScreen">
    <div></div>
    <div style="width: 50%; display: flex; flex: auto;">
      <a mat-button routerLink="/">
        <h1>Afropreneur Digital</h1>
      </a>
      <div style="width: 70%; text-align: right;">
        <a mat-button routerLink="/articles/all"
           routerLinkActive="link-active"
           [routerLinkActiveOptions]="{exact: true}">
          Articles
        </a>
        <a mat-button routerLink="/infos"
           routerLinkActive="link-active"
           [routerLinkActiveOptions]="{exact: true}">
          A propos
        </a>
        <a mat-button routerLink="/infos"
           routerLinkActive="link-active"
           [routerLinkActiveOptions]="{exact: true}">
          Contact
        </a>
      </div>
    </div>
    <div></div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="smallScreen">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="onMenuToggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button routerLink="/">
      <h1>Afropreneur Digital</h1>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
