<mat-tab-group animationDuration="0ms" style="height: 100vh;">
  <mat-tab label="Creation">
    <form [formGroup]="formOptions" (ngSubmit)="onSubmit()" [ngStyle]="formStyle">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Ecrire un nouvel article</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field appearance="outline" class="blog-admin-creation-form-field">
            <mat-label>Intitulé de l'article</mat-label>
            <input matInput
                   placeholder="Saisir le titre de l'article"
                   [formControl]="titleControl"
                   autocomplete="title"
                   required>
            <mat-error *ngIf="titleControl.invalid">{{handleLoginErrors()}}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" class="blog-admin-creation-form-field">
            <mat-label>Contenu de l'article</mat-label>
            <textarea matInput rows="20"
                      placeholder="Ecrire le contenu de l'article ici"
                      [formControl]="contentControl"
                      autocomplete="content"
                      required>
            </textarea>
            <mat-error *ngIf="contentControl.invalid">{{handlePasswordErrors()}}</mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-raised-button
                  class="button-primary-color">
            Soumettre
          </button>
        </mat-card-actions>
        <mat-error *ngIf="!connected" style="text-align: center;">{{connectionResponse}}</mat-error>
      </mat-card>
    </form>
  </mat-tab>
  <mat-tab label="Prévisualisation">
    <mat-card [ngStyle]="formStyle" *ngIf="titleControl.valid || contentControl.valid">
      <mat-card-header>
        <mat-card-title *ngIf="titleControl.valid">
          {{titleControl.value}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="contentControl.valid" [innerHTML]="contentControl.value"></mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
