<div class="ad-page-content">
  <mat-card class="ad-card-title">
    <mat-card-title>
      Bienvenu sur Afroproneur Digital
    </mat-card-title>
    <mat-card-content>
      <h3>Le blog des afropreneurs du web</h3>
    </mat-card-content>
  </mat-card>

  <mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
      <mat-form-field style="width: 100%;">
        <mat-label>Filtrer par date </mat-label>
        <mat-select [formControl]="dateFilterControl">
          <mat-option *ngFor="let criteria of dateFilter" [value]="criteria.value">
            {{criteria.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-card class="ad-card-article" *ngFor="let article of articles">
    <mat-card-header>
      <div mat-card-avatar class="ad-article-avatar"></div>
      <mat-card-title> {{article.title}} </mat-card-title>
      <mat-card-subtitle>
        <span> Publié le {{article.releaseDate}} par {{article.author}} - Thématique: </span>
        <span *ngFor="let topic of article.topic"> {{topic.label}} </span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{article.content | slice: 0 : 140 }} ...
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/articles/{{article.id}}"> Lire l'article </a>
    </mat-card-actions>
  </mat-card>
</div>
